{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <a class="btn btn-success" href="{{ url('app_contact_showall') }}">Show all contacts</a>
        <h1>One contact:</h1>
        {% if contact %}


            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Description</th>
                        <th colspan="2">Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {#{% for contact in contacts %}#}

                            <td>{{ contact.id }}</td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.surname }}</td>
                            <td>{{ contact.description }}</td>
                            <td><a class="btn btn-info" href={{ url('app_contact_edit', {'id': contact.id}) }}>EDIT</a></td>
                            <td><a class="btn btn-danger" href="{{ url('app_contact_delete', {'id': contact.id}) }}">DELETE</a></td>


                        {#{% endfor %}#}
                    </tr>
                    </tbody>
                </table>
            </div>




            {#Show addresses#}
            {% if contact.addresses is empty %}
                <a class="btn btn-info" href={{ url('app_contact_edit', {'id': contact.id}) }}>Add address</a>

            {% else %}
            <h2>Addresses:</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>City</th>
                        <th>Street</th>
                        <th>House</th>
                        <th>Flat</th>
                        <th colspan="2">Operations</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for address  in contact.addresses %}
                        <tr>
                        <td>{{ address.id }}</td>
                        <td>{{ address.city }}</td>
                        <td>{{ address.street }}</td>
                        <td>{{ address.houseNr }}</td>
                        <td>{{ address.flat }}</td>
                        <td><a class="btn btn-info" href={{ url('app_address_edit', {'id': address.id}) }}>EDIT</a></td>
                        <td><a class="btn btn-danger" href="{{ url('app_address_delete', {'id': address.id}) }}">DELETE</a></td>
                        </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>


            {% endif %}






            {#Show phones#}
            {% if contact.phones is empty %}
                <a class="btn btn-info" href={{ url('app_contact_edit', {'id': contact.id}) }}>Add phones</a>

            {% else %}
                <h2>Phones:</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Number</th>
                            <th>Type</th>
                            <th colspan="2">Operations</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for phone  in contact.phones %}
                            <tr>
                                <td>{{ phone.id }}</td>
                                <td>{{ phone.number }}</td>
                                <td>{{ phone.type }}</td>
                                <td><a class="btn btn-info" href={{ url('app_phone_edit', {'id': phone.id}) }}>EDIT</a></td>
                                <td><a class="btn btn-danger" href="{{ url('app_phone_delete', {'id': phone.id}) }}">DELETE</a></td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            {% endif %}


            {#Show emails#}
            {% if contact.emails is empty %}
                <a class="btn btn-info" href={{ url('app_contact_edit', {'id': contact.id}) }}>Add emails</a>

            {% else %}
                <h2>Emails:</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th colspan="2">Operations</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for email  in contact.emails %}
                            <tr>
                                <td>{{ email.id }}</td>
                                <td>{{ email.address }}</td>
                                <td>{{ email.type }}</td>
                                <td><a class="btn btn-info" href={{ url('app_email_edit', {'id': email.id}) }}>EDIT</a></td>
                                <td><a class="btn btn-danger" href="{{ url('app_email_delete', {'id': email.id}) }}">DELETE</a></td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            {% endif %}

        {% else %}
            <p>No contact found.</p>
        {% endif %}
    </div>

{% endblock %}

